RC_BASE_URL=http://{{ ansible_default_ipv4.address }}:{{ rocketchat_http_port }}
RC_ADMIN_USER={{ rocketchat_admin_user }}
RC_ADMIN_PASS={{ rocketchat_admin_pass }}
RC_ADMIN_EMAIL={{ rocketchat_admin_email }}
HTTP_PORT={{ rocketchat_http_port }}
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Enabled=true
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_URL={{ rocketchat_gitea_base_url }}
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Token_Path=/login/oauth/access_token
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Token_Sent_Via=header
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Identity_Path=/api/v1/user
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Authorize_Path=/login/oauth/authorize
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Scope=openid
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Id={{ rocketchat_gitea_client_id }}
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Secret={{ rocketchat_gitea_client_secret }}
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Login_Style=redirect
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Username_Field=login
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Name_Field=full_name
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Email_Field=email
OVERWRITE_SETTING_Accounts_OAuth_Custom-{{ rocketchat_oauth_name }}_Merge_Users=true
