MM_BASE_URL=http://{{ ansible_default_ipv4.address }}:{{ mattermost_http_port }}
MM_ADMIN_USER={{ mattermost_admin_user }}
MM_ADMIN_PASS={{ mattermost_admin_pass }}
MM_TEAM_NAME={{ mattermost_team_name }}
POSTGRES_USER={{ mattermost_postgres_user }}
POSTGRES_PASSWORD={{ mattermost_postgres_password }}
POSTGRES_DB={{ mattermost_postgres_db }}
HTTP_PORT={{ mattermost_http_port }}
MM_GITLABSETTINGS_ENABLE=true
MM_GITLABSETTINGS_SECRET={{ mattermost_gitea_client_secret }}
MM_GITLABSETTINGS_ID={{ mattermost_gitea_client_id }}
MM_GITLABSETTINGS_AUTHENDPOINT={{ mattermost_gitea_base_url }}/login/oauth/authorize
MM_GITLABSETTINGS_TOKENENDPOINT={{ mattermost_gitea_base_url }}/login/oauth/access_token
MM_GITLABSETTINGS_USERAPIENDPOINT={{ mattermost_gitea_base_url }}/api/v1/user
